.btn-xlarge, .btn-primary {
    color: tomato!important;
    border-color: tomato!important;
    background-color: dimgrey!important;
}

.btn-xlarge:hover, .btn-xlarge:focus, .btn-xlarge:active .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: tomato!important;
    border-color: indianred!important;
    background-color: darkslategrey!important;
}

.breadcrumb {
    color: tomato;!important;
    background-color: black!important;
}

body {
    background-color: black!important;
}

h1, h2, h3 {
    color: tomato!important;
}

td {
    color: tomato!important;
}

.dataTables_info, .dataTables_length {
    color: tomato!important;
}

.pagination > li > a, .pagination > li > span{
    color: tomato!important;
    background-color: lightgrey!important;
    border: 1px solid tomato!important;
}

.pagination > li.active > a, .pagination > li.active > span{
    background-color: dimgrey!important;
    color: tomato!important;
    border: 1px solid tomato!important;
}

