.btn-xlarge {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px         !important;
    font-size: 30px            !important;
    -webkit-border-radius: 8px !important;
       -moz-border-radius: 8px !important;
            border-radius: 8px !important;
}

html, body {
    margin: 0;
    height: 100%;
}

.background {
    height: 100%;
    width: 100%;
}

.success {
    text-align: center;
    background-color: palegreen;
    color: black;
    border-radius: 100px;
    width: 100%;
    height: 100%;
    padding: 50px;
    border: 1px solid black;
}

