{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% with 'css/'|add:request.session.color_mode|add:'.css' as color %}
  <link rel="stylesheet" href="{% static color %}">
  {% endwith %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/snackbar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
</head>
<body>
{% include "header.html" %}
<div class="background">
<div class="container">
{% if error %}
{% include "error.html" with header=error message=message %}
{% else %}
{% block content %}
{% endblock %}
</div>
</div>
{% endif %}
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/snackbar.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
