{% extends "base.html" %}
{% block content %}
{% include "lineage.html" %}
<h3>Please choose an event:</h3>
<form action="{% url 'index' %}" method="post">
	{% csrf_token %}
	<div class="btn-group-vertical w-100">
        {% for event in device.events.all %}
		<button type="submit" name="event" value="{{ event.id }}" class="btn btn-primary btn-block btn-xlarge">{{ event.name }}</button>
        {% endfor %}
	</div>
    <input type="hidden" name="device" value="{{ device.id }}">
    <input type="hidden" name="cruise" value="{{ cruise.id }}">
</form>
{% if not device.events.all %}
{% include "error.html" with error="No events were found" message="Please have an admin add events for this device" %}
{% endif %}
{% endblock %}
