{% extends "base.html" %}
{% block content %}
{% if cruise %}
{% include 'lineage.html' %}
<h3>Please choose a device:</h3>
<div class="btn-group-vertical w-100">
    {% for device in cruise.devices.all %}
    <a href="{% url 'device' device_id=device.id %}" class="btn btn-primary btn-lg btn-block big-btn">{{ device.name }}</a>
    {% endfor %}
</div>
{% else %}
{% include 'warning.html' with header="Not Cruising" message="The ship is not cruising at this time" %}
{% endif %}
{% endblock %}
{% block js %}
{% if success %}
<script>
{% autoescape on %}
$(function() {
    var options =  {
        content: {% include 'success.html' %},
        style: "toast",
        timeout: 5000, // time in milliseconds
        htmlAllowed: true
    }
    $.snackbar(options);
});
{% endautoescape %}
</script>
{% endif %}
{% endblock %}
