{% extends "base.html" %}
{% block content %}
{% if log %}
<div class="text-center mt-3 mb-3">
    <h1>Event Log for {{ cruise.name }} ({{ cruise.number }})</h1>
    <form action="{% url 'log' %}" method="post">
       {% csrf_token %}
       <button class="btn btn-primary" type="submit" name="action" value="download">Download</button>
    <a href="" class="btn btn-primary">Email</a>
    </form>
</div>
<table class="table table-striped">
  <tbody>
  {% for entry in log %}
    <tr>
      <td>{{ entry.timestamp|date:"c" }}</td>
      <td>{{ entry.event }}</td>
      <td>{{ entry.device }}</td>
      <td>{{ entry.gps.latitude_degree }}, {{ entry.gps.latitude_minute }}, {{ entry.gps.longitude_degree }}, {{ entry.gps.longitude_minute }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
{% include 'warning.html' with header="Empty Log" message="No events have been logged yet" %}
{% endif %}
{% endblock %}
