{% extends "base.html" %}
{% block content %}
{% if log %}
<div class="text-center mt-3 mb-3">
    <h1>Wire Log for {{ cruise.name }} ({{ cruise.number }})</h1>
    <form action="{% url 'wirelog' %}" method="post">
       {% csrf_token %}
       <button class="btn btn-primary" type="submit" name="action" value="download">Download</button>
    </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Deployed</td>
      <td>Recoverd</td>
      <td>Device</td>
      <td>Max Tension</td>
      <td>Max Speed</td>
      <td>Max Payout</td>
      <td>Wire</td>
      <td>Winch #</td>
    </tr>
  </thead>
  <tbody>
  {% for entry in log %}
    <tr>
      <td>{{ entry.cast.deployment.timestamp|date:"m/d/Y H:i:s" }}</td>
      <td>{{ entry.cast.recovery.timestamp|date:"m/d/Y H:i:s" }}</td>
      <td>{{ entry.cast.recovery.device }}</td>
      <td>{{ entry.max_tension }}</td>
      <td>{{ entry.max_speed }}</td>
      <td>{{ entry.max_payout }}</td>
      <td>{{ entry.wire.serial_number }}</td>
      <td>{{ entry.winch_number }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
{% include 'warning.html' with header="Empty Log" message="No events have been logged yet" %}
{% endif %}
{% endblock %}
