{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">Welcome to the ShipLog Admin Panel</a>
    {% if cruise %}
    <b><span style="color:lime;padding-left:25px">
        <a href="/admin/eventcapture/cruise/{{ cruise.id }}/change/">{{ cruise.name }}</a>
    </span></b>
    {% else %}
    <b><span style="color:tomato;padding-left:25px">Not Cruising</span></b>
    {% endif %}
</h1>
{% endblock %}
