{% extends "admin/base_site.html" %}
{% block content %}
<div class="text-center mt-3 mb-3">
    <h1>Wire Report for {{ wire.serial_number }}</h1>
</div>
<p>{{ start_date }} to {{ end_date }}</p>
<a href="/media/{{ wire.serial_number }}_WireReport.csv">Download {{ wire.serial_number }} wire report</a>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Drop #</td>
      <td>Date</td>
      <td>Max Tension</td>
      <td>Max Speed</td>
      <td>Max Payout</td>
    </tr>
  </thead>
  <tbody>
  {% for cr in cast_reports %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ cr.cast.recovery.timestamp }}</td>
      <td>{{ cr.max_tension }}</td>
      <td>{{ cr.max_speed }}</td>
      <td>{{ cr.max_payout }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<a href="/admin/eventcapture/wirereport">Back to Wire Report</a>
{% endblock %}
